<div class="form-panel-wrapper">

  <form [formGroup]="form" class="form-panel-grid"
    [ngStyle]="{'grid-template-columns': 'repeat(' + columns + ', 1fr)'}">
    <ng-container *ngFor="let field of fields">
      <div class="field" [class.form-field-full]="field.fullWidth"
           [class.field-invalid]="form.get(field.name)?.invalid && form.get(field.name)?.touched">
        <label [for]="field.name">{{ field.label }}</label>

        <ng-container *ngIf="field.type === 'select'">
          <select [id]="field.name" class="form-select" [formControlName]="field.name"
                  [class.input-error]="form.get(field.name)?.invalid && form.get(field.name)?.touched">
            <option value="">{{ field.placeholder || 'Selecciona una opción' }}</option>
            <option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.label }}</option>
          </select>
        </ng-container>

        <ng-container *ngIf="field.type !== 'select' && field.mask">
          <p-inputMask
            [id]="field.name"
            [mask]="field.mask"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || field.mask"
            [class.input-error]="form.get(field.name)?.invalid && form.get(field.name)?.touched"
            styleClass="w-full"
          />
        </ng-container>

        <ng-container *ngIf="field.type !== 'select' && !field.mask">
          <input
            [id]="field.name"
            [type]="field.type || 'text'"
            pInputText
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
          />
        </ng-container>

        <small *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched" class="field-error-msg">
          {{ field.label }} es requerido.
        </small>
      </div>
    </ng-container>
  </form>
</div>
