.page-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.page-heading {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--p-primary-300);
}